{% extends "base.html" %}
{% from "network/post_view_small.html" import post_view_small %}

{% block content %}


<div class="group-main">
  <div class="group-header">
    <h1>{{group.name}}</h1>
    Created on {{group.created}}.
    {% if members %}
      <p>Members:
      {% for member in members %}
        <a href="{{url_for('network.user', id_user=member.id)}}">{{member.username}}</a>{% if loop.last %}.{% else %}, {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    <hr>
  </div>

  <form action="{{url_for('network.join_group', id_group=group.id)}}" method="post">
    <button type="submit">Join Group</button>
  </form>

  <div class="group-content">
    <h2>Posts</h2>

    <a href="{{url_for('network.create_post', id_group=group.id)}}">Create Post</a>

    <div class="post-list">
      {% for post in posts %}
        {{post_view_small(post)}}
      {% endfor %}
    </div>
  </div>
<div>

{% endblock %}
