{% extends "base.html" %}
{% from "network/post_view_small.html" import post_view_small %}

{% block content %}

<div class="group-main">
  <div class="group-header">
    <h1>{{group.name}}</h1>
    Created on {{group.created}}.
    <details>
      <summary>Members</summary>
      <ul>
        {% for member in members %}
          {{member.name}}
        {% endfor %}
      </ul>
    </details>
    <hr>
  </div>

  <div class="group-content">
    <h2>Posts</h2>

    <a href="{{url_for('network.create_post', id_group=group.id)}}">Create Post</a>

    <div class="post-list">
      {% for post in posts %}
        {{post_view_small(post)}}
      {% endfor %}
    </div>
  </div>
<div>

{% endblock %}
