{% extends "base.html" %}
{% from 'network/post_view_small.html' import post_view_small %}

{% block content %}

<h1>User Profile</h1>

<h1>{{user.username}}</h1>
<h2>id: {{user.id}}</h2>
<form action="{{url_for('network.chat', id_user=user.id)}}" method="get">
  <input type="hidden" name="user_id" value="{{user.id}}">
  <button type="submit">Chat</button>
</form>

<h2>Groups</h2>
<ul>
{% for group in user.groups %}
  <li><a href="{{url_for('network.group', id_group=group.id)}}">{{group.name}}</a></li>
{% endfor %}
</ul>

<h2>Posts</h2>
<ul>
{% for post in user.posts %}
  {{ post_view_small(post) }}
{% endfor %}
</ul>

{% endblock %}
