<!doctype html>
<head>
  <title>Tuiter</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
  <ul class="nav">
    <li><a href="{{ url_for('network.index') }}">Index</a></li>
    {% if g.user %}
      <li>Logged in as {{ g.user['username'] }}</li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
  </ul>

  {% if get_flashed_messages() %}
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
    <hr>
  {% endif %}

  {% block content %}
  {% endblock %}


</body>
