<!doctype html>
<head>
  <title>Tuiter</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
  <ul>
    {% if g.user %}
      <li>Logged in as {{ g.user['username'] }}</li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
  </ul>

  <hr>

  {% block content %}
  {% endblock %}

</body>
