<!doctype html>
<head>
  <title>Tuiter</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

  <!--Font: Source Sans 3-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('network.index') }}">Tuíter</a></li>
      {% if g.user %}
        <li><a href="{{ url_for('network.user', id_user=g.user['id']) }}">{{ g.user['username'] }}</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
    </ul>
  </nav>

  {% if get_flashed_messages() %}
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
    <hr>
  {% endif %}

  {% block content %}
  {% endblock %}


</body>
