:root {
  --black: #181818;
  --gray: #383838;
  --white: #ededed;
  --cyan: #04f5c1;
  --blue: #57b3ff;
  --purple: #9c6aff;
  --yellow: #ffd633;
}


body {
  background: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}

body button {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-radius: 0.5em;
}

body input[type="submit" i] {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-radius: 0.5em;
}

body input[type="textarea" i] {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-radius: 0.5em;
}

a         { color: var(--blue); }
a:visited { color: var(--blue); }
a:hover   { color: var(--yellow); }

nav {
  background: var(--gray);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 80%;
}

/* INDEX */

.index {
  box-sizing: border-box;
  background: #1f2937;
  width: 80%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.list-index {
  display: flex;
  flex-direction: row;
}

.topics {
  padding: 0.8em;
  margin: 0.2em;
  border-bottom: 1px solid;
}

/* LOGIN */

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background: #1f2937;
  padding: 2em;
  border-radius: 0.5em;
  width: 80%;
}

.label-login {
  font-size: 20px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.input-login {
  width: 25%;
  height: 2em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  padding: 0.4em;
}

/* Post */

.post-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.post-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background: #1f2937;
  border-radius: 0.5em;
  width: 100%;
  margin: 1em;
  padding: 1em;
}

.post-small-main {
  background: #1f2937;
  border-radius: 0.5em;
  width: 70%;
  margin: 1em;
  padding: 1em;
}

.post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
}

.post-content {
  width: 100%;
}

.post-actions {
  width: 100%;
}

.post-actions textarea {
  width: 80%;
  height: 100px;
}


/* Group */

.group-main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.group-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Comments */

.comment-list {
  width: 100%;
}

.comment-main {
  background-color: #111827;
  padding: 1em;
  margin: 1em;
}
